body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.form-login {
    flex-basis: 450px;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.94);
    font-size: 1.5rem;
}

.card-body {
    background-color: rgba(0, 0, 0, 0.94);
}

.card-footer {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.94);
}

.form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}