body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.bg-dark-login {
    background-color: rgb(14, 14, 14);
}

.form-login {
    flex-basis: 450px;
}

.card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}